<h1>Posts</h1>
<p>On this page you can see all posts and make a post.</p>

<% @posts.each do |post| %>
  <%= render partial: "post_body", locals: {post: post} %>
<% end %>
<br/>

<%= form_for @micropost do |f| %>
<%= render :partial => "shared/form_error_messages", :locals => {:model_object => @micropost} %>
<%= f.text_area :content, :placeholder => "What's on your mind?" %>
<%= f.submit "Post" %>
<% end %>
